<{{ has_link ? 'a' : 'div' }} {{ if link }} href="{{ link }}" aria-label="{{ label or title }}" {{ /if }} target="{{ target_blank ? '_blank' : '_self' }}">
<div class="relative basis-1/2 rounded-cstm py-3">
    <img class="rounded-cstm" height="100%" width="100%"
        src="{{image}}" alt="rtint learning">
    <div class="floating-art-int-title">
        <!-- <p>Art Integration <br>
            <span>through</span>
            <br>
            Video Creation
        </p> -->
        <p>{{title}}</p>
    </div>
</div>
</{{ has_link ? 'a' : 'div' }}>


