
<div class="latest-posts-iteam">
    <div>
        <img height="100%" width="100%"
            src="{{image}}"
            alt="blog thumb">
    </div>

    <div>
        <p class="blog-title">{{title}}</p>
        <div class="flex justify-between">
            <p class="blog-date">{{ updated_at | timezone('Asia/Kolkata') |format('d M, Y') }}</p>
            <!-- <a href="#" class="share-button" url="{{link}}" title="{{title}}">Share</a> -->
        </div>
        <a href="{{link}}" class="read-button">Read Article</a>

    </div>
</div>
