<!-- Start News Section -->
<div class="w-full mx-auto">
    <div class="parent-content content-pb">
        <p class="my-heads text-center my-6">{{news_sec_title}}</p>
        <section class="news-logos slider">
            <!-- style="background-color: rgb(250, 250, 250); border-radius: 12px;" -->
            <!-- {{ news_brand_logo }}
            <div class="slide news-img-sup"><img class="news-logo-img" src="{{ url }}" alt="{{ alt }}"></div>
            {{ /news_brand_logo }} -->
            {{ logo_link }}
            {{if logo != ''}}
            <div class="slide news-img-sup"><a href="{{ logo_link }}" target="_blank"><img class="news-logo-img" src="{{ logo }}" alt="{{ alt }}"></a></div>
            {{/if}}
            {{ /logo_link }}
            
        </section>
    </div>
</div>
<!-- End News Section-->
<script>
    $(document).ready(function () {

        $('.news-logos').slick({
            slidesToShow: 6,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1500,
            arrows: true,
            prevArrow: `<button class="slide-arrow prev-arrow"><span class="material-symbols-outlined rounded-full p-0 border-solid icon-color">
                            chevron_left</span></button>`,
            nextArrow: `<button class="slide-arrow next-arrow"><span class="material-symbols-outlined rounded-full p-0 border-solid  icon-color">
                            chevron_right</span></button>`,
            dots: false,
            pauseOnHover: false,
            responsive: [{
                breakpoint: 769,
                settings: {
                    slidesToShow: 4
                }
            }, {
                breakpoint: 520,
                settings: {
                    slidesToShow: 3
                }
            }]
        });

    });

</script>