<!--stats/ promo-section  small-->
<div class="mx-auto promo-section">
    <div class="promo-child">
        {{services}}
        {{if service_icon != ''}}
        <div>
            <div class="promo-icon-par">
                {{service_icon}}
                <img class="promo-icons" src="{{url}}" alt="promoicon">
                {{/service_icon}}
            </div>
            <div class="pr-desc-div">
                <p class="pr-nums">{{no_count}}+</p>
                <p class="pr-txt">{{serve_title}}</p>
            </div>
        </div>
        {{/if}}
        {{/services}}
    </div>
    <div class="div-lkflt">
        <!-- <span>Get a <span> Free Guide</span> on 10 easy ways to make your school Video savvy</span> -->
        <span>{{side_desc}}</span>
        <button onclick="showPopup()">Get it Now</button>
    </div>
</div>
<!-- stats stats/ promo-section big -->
<div class="btml-float relative">
    <div class="btml-float-containt">
        {{services}}
        {{if service_icon != ''}}
        <div class="promo-small-child">
            <div>
                {{service_icon}}
                <img class="promo-icons-sm" src="{{url}}" alt="">
                {{/service_icon}}
            </div>
            <div class="pr-desc-div-small">
                <p class="pr-nums-sm">{{no_count}}+</p>
                <p class="pr-txt-sm">{{serve_title}}</p>
            </div>
        </div>
        {{ /if}}
        {{/services}}
    </div>

    <div class="div-lkflt-sm">
        <span>{{side_desc}}</span>
        <button onclick="showPopup()">Get it Now</button>
    </div>
</div>

<div id="popup" style="display:none;">
    <span onclick="hidePopup()" class="pop-up-close-btn">&#10005;</span>
    <div class="pop-up-content-form">
        <p class="my-heads get-head-title text-center px-0 md:px-4 lg:px-0" id="get-it-heading" style="display: block;">
            Where should we email your free guide?</p>

        {{ form:create in="ebook_form" class="get-it-form" id="FormDiv"}}
        {{ fields }}
        <div class="form-field">
            <div class="form-row">
                <label for="fullName">{{ display }}</label>
                {{ field }}
            </div>
            <p class="text-red-600" id="{{handle}}_err">{{ error }}</p>
        </div>
        {{ /fields }}

        <div class="form-row2">
            <input type="text" class="hidden " name="{{ honeypot ?? 'honeypot' }}">
            <button type="submit" class="submit-button">Submit</button>
        </div>
        {{ /form:create }}
        <!-- </div> -->
        <div id="successDivG" style="display: none;">
            <p class="my-heads text-center md:text-left">YAY!</p>
            <p class="my-heads-bk text-center md:text-left py-0 md:pr-48">
                Your Free guide has been emailed to you.</p>
            <div class="relative" style="
            top: -100px;
        ">
                <img class="letterbox-img" src="/assets/leterboxImg.png" alt="">
            </div>
        </div>
    </div>
    <img class="floating-mail-icon1" src="/assets/maillogo.png" alt="">
    <img class="floating-mail-icon2" src="/assets/maillogo.png" alt="">
</div>

<script>
    let get_it_fields = new Array();
    let get_it_form = $("#FormDiv").serializeArray();

    $.each(get_it_form, function (i, value) {
        get_it_fields.push(value.name)
    });

    var form = document.getElementById('form');
    var popup = document.getElementById("popup");
    var cont_popup = document.getElementById("cont-popup");
    function hidePopup() {
        document.getElementById("FormDiv").style.display = 'block'
        document.getElementById("FormDiv").classList.add("get-it-form")
        document.getElementById('get-it-heading').style.display = 'block'
        document.getElementById('successDivG').style.display = 'none'
        popup.style.display = "none";
    }
    function showPopup() {
        popup.style.display = "block";
        popup.classList.add("for-get-pop-up")
        popup.style.top = `${document.body.clientHeight} - 400px`
        get_it_fields.forEach(function (name) {
            $('#' + name + '_err').html('');
        })
    }
    var form = document.getElementById('FormDiv');
    $(".get-it-form").submit(function (event) {
        event.preventDefault()
        var form_data = $(this).serialize();

        var fd = new FormData();
        $.ajax({
            url: $("#FormDiv").attr('action'),
            type: 'POST',
            data: form_data,
        }).done(function (response) {
            $('#FormDiv').trigger("reset");
            $('#failed').css('display', 'none');
            $('#FormDiv').css('display', 'none')
            $('#get-it-heading').css('display', 'none')
            $('#successDivG').css('display', 'flex')
        }).fail(function (data) {

            /* var errors = [data.responseJSON.errors]
            var str = ""

           errors.forEach(function (error) {
                console.log(error);
                str += error
            }) 
            str = str.replace(/\,/g, "<br>") 
            $('#failed').html(str); */
            var error = [data.responseJSON.error]
            $.each(error, function (key, value) {
                $.each(value, function (index, value1) {
                    console.log(index)
                    console.log(value1)
                    if ($.inArray(index, get_it_fields) >= 0) {
                        $('#' + index + '_err').html(value1);
                    } else {
                        console.log(11)
                        $('#' + index + '_err').html('');
                    }
                });
            });

            $('#FormDiv').css('display', 'block')
            $('#get-it-heading').css('display', 'block')
            $('#successDivG').css('display', 'none')
        });
    });
</script>