<div class="flex flex-wrap pt-6 -mx-6 border-t border-gray-300 divide-x divide-gray-300">
    <p class="px-6 text-gray-900">Posted on:
        {{ date }}
    </p>
    {{ if author_name }}
        <p class="px-6 text-gray-900">By:
            {{ author_name }}
        </p>
    {{ /if }}

    {{ if category }}
        <p class="px-6 text-gray-900">Category:
            {{ category:title }}
        </p>
    {{ /if }}
</div>

{{ collection:posts url:isnt="{ url }" :taxonomy:tags="tags" }}
    <p><a href="{{ url }}">{{ title wrap="strong" }}{{ sub_title ensure_left=" // " wrap="span" }}</a></p>
{{ /collection:posts }}