<!-- <div class="single-blog-banner-image" style="
background-image: url('https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2020/11/14/Pictures/_ded48fd4-25fd-11eb-8924-93a7f7a2e27c.jpg');  
"> -->
<!-- <img src="https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2020/11/14/Pictures/_ded48fd4-25fd-11eb-8924-93a7f7a2e27c.jpg" alt=""> -->

<!-- </div> -->

<style>
    .my-container {
        display: flex;
        flex-direction: row;
        gap: 40px;
        width: 100%;
        padding: 100px 40px;
    }

    .my-container img {
        border-radius: 20px;
    }

    .my-container>div:first-child {
        width: 70%;
    }

    .my-container>div:nth-child(2) {
        width: 30%;
    }

    .my-container h2 {
        font-size: 1.5rem !important;
        font-weight: 700 !important;
        text-align: left !important;
        padding: 0;
        margin: 0;


    }

    .my-container h3 {
        font-size: 1.125rem !important;
        font-weight: 700 !important;
        padding: 0;
        margin: 0;
    }

    .category-section {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .category-section >div:first-child{
        border-bottom: 4px solid #793ef0;
    }
    .grade-title-atblog-page {
        font-weight: 500;
        font-size: 18px;
        color: white;
        background: rgb(121, 62, 240, 0.5);
        border-radius: 20px;
        padding: 7px 17px;
        width: max-content;
        text-align: center;
        position: absolute;
        bottom: 12%;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        width: max-content;
        /* opacity:0.5 ; */
    }

    .grade-title-atblog-page span {
        opacity: 1 !important;
    }
</style>
<img class="commen-baner-blog"
    src="https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2020/11/14/Pictures/_ded48fd4-25fd-11eb-8924-93a7f7a2e27c.jpg"
    alt="">

<div class="container py-10 px-6 md:px-8 mx-auto">
    <div
        class="max-w-3xl mx-auto prose prose-lg prose-p:text-gray-900 single-blog-title">
   <p class="text-5xl font-bold mb-8 ">porta dignissim lacus nec lobortis. Ut ut nunc ut libero</p>
   
    </div>
    <div
        class="max-w-3xl mx-auto prose prose-lg prose-p:text-gray-900 prose-a:text-secondary-900 prose-headings:text-primary-900">
        <p>1Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis nibh fermentum, imperdiet purus nec,
            vulputate nunc. Quisque sed eleifend orci. Vivamus dictum molestie laoreet. Suspendisse augue risus, cursus
            vel orci id, vulputate tristique metus. Proin placerat massa vel orci blandit posuere. Ut porta dignissim
            lacus nec lobortis. Ut ut nunc ut libero lobortis rhoncus. In luctus feugiat mauris, vitae sollicitudin leo
            fringilla id. Curabitur pulvinar diam blandit, lacinia arcu a, ultricies mauris. Sed pulvinar vehicula
            consequat. Ut vel mauris facilisis, vehicula mauris nec, laoreet eros. Duis egestas rutrum venenatis.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris maximus
            sagittis eros, ut rhoncus nibh semper eu. Sed sodales tellus ut ipsum pretium egestas.<br><br>Sed aliquet
            enim nibh, ac lacinia diam elementum egestas. Sed suscipit sed felis vitae consectetur. In tincidunt lectus
            eu ipsum pulvinar volutpat. Cras auctor nibh eu mauris suscipit, ac feugiat velit euismod. Morbi aliquam
            dapibus libero finibus vehicula. Aliquam ornare libero et eros tempus, faucibus aliquam turpis finibus.
            Vivamus cursus, dolor sed luctus pulvinar, risus libero egestas enim, quis vehicula orci justo eget diam.
            Donec eleifend non tortor sed viverra. Curabitur eget hendrerit magna. Sed nec libero non turpis molestie
            semper eu ut ante. Donec congue tellus diam, vitae mattis tortor sodales eu. Proin et iaculis purus, a
            finibus erat. Suspendisse ullamcorper, ligula vel imperdiet pretium, metus ante auctor erat, vitae cursus
            lorem lectus et odio. Nulla sagittis viverra ligula, vel tempus purus scelerisque quis. Sed pellentesque id
            risus vitae aliquam.</p>
    </div>

    <div class=" ">
        <div class="flex flex-col gap-6">
            <h2>How to use video technique in school?</h2>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPY1m120MJEieJIiD8OlwE_0KcTFG8_Mbfjg&usqp=CAU"
                alt="">
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quam, dolores atque animi facere quis
                delectus quas accusantium quasi quod deserunt ab nulla aliquam harum laboriosam tenetur eaque assumenda.
                Ab!
                Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quam, dolores atque animi
                facere quis delectus quas accusantium quasi quod deserunt ab nulla aliquam harum laboriosam tenetur
                eaque assumenda. Ab!
                Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quam, dolores atque animi
                facere quis delectus quas accusantium quasi quod deserunt ab nulla aliquam harum laboriosam tenetur
                eaque assumenda. Ab!
                Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quam, dolores atque animi
                facere quis delectus quas accusantium quasi quod deserunt ab nulla aliquam harum laboriosam tenetur
                eaque assumenda. Ab!
                Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quam, dolores atque animi
                sit, amet consectetur adipisicing elit. Nesciunt quam, dolores atque animi
                facere quis delectus quas accusantium quasi quod deserunt ab nulla aliquam harum laboriosam tenetur
                eaque assumenda. Ab!
                Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quam, dolores atque animi
                facere quis delectus quas accusantium quasi quod deserunt ab nulla aliquam harum laboriosam tenetur
                eaque assumenda. Ab!
                Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quam, dolores atque animi
                facere quis delectus quas accusantium quasi quod deserunt ab nulla aliquam harum laboriosam tenetur
                eaque assumenda. Ab!
                Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quam, dolores atque animi
                facere quis delectus quas accusantium quasi quod deserunt ab nulla aliquam harum laboriosam tenetur
                eaqu
                Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quam, dolores atque orem
                ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quam, dolores atque animi
                facere quis delectus quas accusantium quasi quod deserunt ab nulla aliquam harum laboriosam tenetur
                eaque assumenda. Ab!
                Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quam, dolores atque animi
                facere quis delectus quas accusantium quasi quod deserunt ab nulla aliquam harum laboriosam tenetur
                eaque assumenda. Ab!
                Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quam, dolores atque animi
                facere quis delectus quas accusantium quasi quod deserunt ab nulla aliquam harum laboriosam tenetur
                eaque assumenda. Ab!
                Lorem ipsum Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quam, dolores atque animi
                facere quis delectus quas accusantium quasi quod deserunt ab nulla aliquam harum laboriosam tenetur
                eaque assumenda. Ab!
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti possimus nisi, molestias tenetur et
                eum laborum harum voluptatum quia rerum distinctio quos asperiores amet earum dolorem aut magni ab qui.
            </p>

            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPY1m120MJEieJIiD8OlwE_0KcTFG8_Mbfjg&usqp=CAU"
                alt="">

            <h2>What is Lorem Ipsum?</h2>

            <p>typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                with desktop publishing software like including versions of Lorem
                Ipsum.typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                with desktop publishing software like including versions of Lorem
                Ipsum.typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                with desktop publishing software like including versions of Lorem
                Ipsum.typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                with desktop publishing software like including versions of Lorem
                Ipsum.</p>


        </div>



    </div>
</div>

