<!-- <div style="max-width: 1536px;" class="border-solid border-2 border-indigo-600 mx-auto">trryrtytrytr</div> -->
<style>
    .blogbanner .subscribe-box-par {
        background-color: none;
        width: 525px;
        padding: 10px;
        border-radius: 25px;
        position: absolute;
        left: 68px;
        bottom: 30px;
    }

    .inputFeild {
        width: 100%;
        border: none;

    }

    .inputFeild:focus {
        outline: 0 none !important;

    }

    .submitBtnFeild,
    .inputFeild {
        height: 40px;
        border: none;
        border-radius: 25px;
    }

    .submitBtnFeild {
        position: absolute;
        color: white;
        background-color: #F553B7;
        border: #F553B7 solid;
        right: 10px;
        padding: 0 30px;
    }

    #arrow_back {
        position: absolute;
        top: 15px;
        left: 20px;
        font-size: 25px;
        color: white;
    }

    .rounded-cstm {
        border-radius: 20px;
    }

    .nest-cat-head {
        font-weight: 500;
        font-size: 18px;
    }

    .floating-grade-title {
        background: rgb(121, 62, 240, 0.5);
        /* background-blend-mode: multiply; */
        /* opacity: 0.5; */
        border-radius: 30px;
        box-sizing: border-box;
        max-width: max-content;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 17%;
    }

    .floating-grade-title p {
        opacity: 1 !important;
        width: fit-content;
        padding: 20px;
        box-sizing: border-box;
        color: white;
    }

    .floating-art-int-title {
        background: rgb(121, 62, 240, 0.7);
        /* background-blend-mode: multiply; */
        /* opacity: 0.5; */
        border-radius: 30px;
        box-sizing: border-box;
        max-width: max-content;
        position: absolute;
        left: 0;
        right: 7%;
        margin-left: auto;
        margin-right: auto;
        bottom: 14%;
    }

    .floating-art-int-title p {

        opacity: 1 !important;
        width: fit-content;
        padding: 20px;
        box-sizing: border-box;
        color: white;
        font-size: 22px;
        font-weight: 500;
    }

    .floating-art-int-title span {

        font-size: 17px;
    }

    .latest-pop-par {}

    .latest-pop-par .lates-title {
        font-weight: 500;
        font-size: 20px;
    }

    .latest-posts-box {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .latest-posts-iteam {
        border-radius: 15px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        display: flex;
        flex-direction: column;

    }

    .latest-posts-iteam>div:first-child {
        padding: 15px;


    }

    .latest-posts-iteam>div:nth-child(2) {
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .latest-posts-iteam img {
        /* height: 100%;
        width: 100%; */
        object-fit: cover;
        max-height: 160px;
        border-radius: 15px;
    }

    .blog-title {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;

    }

    .blog-date {

        font-weight: 700;
        font-size: 9px;
        line-height: 12px;
        letter-spacing: 2px;

        color: #6A6B7D;
    }

    .read-button {
        color: white;
        background: #793EF0;
        border-radius: 10px;
        padding: 5px 15px;
        width: max-content;

    }

    @media screen and (max-width: 640px) {
        .blogbanner .subscribe-box-par {
            background-color: #793EF0;
            position: absolute;
            left: 0;
            right: 0;
            margin-left: auto;
            margin-right: auto;
            bottom: -63px;
            width: 90%;
            padding: 8px;
        }

        .submitBtnFeild,
        .inputFeild {
            height: 30px;
            border-radius: 20px;
        }

        .submitBtnFeild {
            right: 8px;
        }

        .latest-posts-iteam {

flex-direction: row;


        }
        .latest-posts-iteam img {
            height: 100%;
        }

    }
</style>
<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<div class="container mx-auto  ">
    <div class="grid grid-cols-1  gap-4 mb-4">
        <div class="relative blogbanner" style="object-fit: contain; height:100% ; width:100%;">
            <a href="/">
                <span class="material-symbols-outlined " id="arrow_back">
                    arrow_back
                </span>
            </a>



            <img height="100%" width="100%"
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4GBoV1sdU51HerXSVJkjy0ARWyhAfgssmpg&usqp=CAU"
                alt="baner image">
            <div style="width: fit-content;" class="w-auto  p-2">

                <div class=" subscribe-box-par">
                    <input class="inputFeild" type="text" placeholder="Your email address"> <button
                        class="submitBtnFeild">Subscribe</button>
                </div>
            </div>
        </div>

    </div>
    <div class="grid grid-cols-10 gap-4 mt-16 md:mt-1 px-2 md:px-4">
        <div class="flex flex-col gap-2 md:col-span-7 col-span-10">

            <div class="academics-section  ">
                <div>
                    <p class="m-4 nest-cat-head">Academics</p>
                    <div class="flex flex-row gap-4 m-4">
                        {{ taxonomy from="categories" main_category:is="academics"}}
                            {{if title !=''}}
                            <div class="relative bg-gray-800 basis-1/2 rounded-cstm">

                                <img class="rounded-cstm" height="100%" width="100%"
                                    src="{{url}}" alt="">
                                <div class="floating-grade-title">
                                    <p>Grade 3-5 </p>
                                </div>
                            </div>
                            {{/if}}
                        {{ /taxonomy }}
                        <div class="relative bg-gray-800 basis-1/2 rounded-cstm">

                            <img class="rounded-cstm" height="100%" width="100%"
                                src="https://nationaltoday.com/wp-content/uploads/2022/06/7-Children-Day.jpg" alt="">
                            <div class="floating-grade-title">
                                <p>Grade 3-5 </p>
                            </div>
                        </div>
                        <div class="relative bg-gray-800 basis-1/2 rounded-cstm">
                            <img class="rounded-cstm" height="100%" width="100%"
                                src="https://pbs.twimg.com/media/Fh3w4u1XkAMFI2u?format=jpg&name=small" alt="">
                            <div class="floating-grade-title">
                                <p>Grade 6-9 </p>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
            <div class="art-int-section ">
                <div class="m-4">
                    <p class=" mb-4  nest-cat-head">
                        Art-Integrated learning
                    </p>
                    <div class="bg-gray-800 basis-1/2 rounded-cstm">
                        <img class="rounded-cstm" height="100%" width="100%"
                            src="https://static.kcet.kcet.production.k2.m1.brightspot.cloud/dims4/default/d7d280d/2147483647/strip/true/crop/6016x4016+0+0/resize/848x566!/quality/90/?url=http%3A%2F%2Fkcet-brightspot.s3.amazonaws.com%2F48%2Ff9%2F697572234266ae0142daefa9166c%2Fistock-1154573247.jpeg"
                            alt="rtint learning">
                        <div class="floating-art-int-title">
                            <p>Art Integration <br>
                                <span>through</span>
                                <br>
                                Video Creation
                            </p>
                        </div>


                    </div>
                </div>


            </div>
        </div>
        <div class="md:col-span-3 col-span-10">
            <div class="latest-pop-par m-4">

                <p class="lates-title">Latest Posts</p>

                <div class="latest-posts-box">

                    <div class="latest-posts-iteam">
                        <div>
                            <img height="100%" width="100%"
                                src="https://assets.thehansindia.com/h-upload/2022/11/12/1320210-happy-children-feature-1050x733.webp"
                                alt="blog thumb">


                        </div>

                        <div>
                            <p class="blog-title">Empower kids through video creation</p>
                            <p class="blog-date">12 MAR, 2023 11:25 Am</p>
                            <a href="#" class="read-button">Read Article</a>

                        </div>
                    </div>
                    <div class="latest-posts-iteam">
                        <div>
                            <img height="100%" width="100%"
                                src="https://assets.thehansindia.com/h-upload/2022/11/12/1320210-happy-children-feature-1050x733.webp"
                                alt="blog thumb">


                        </div>

                        <div>
                            <p class="blog-title">How to use video technique in school</p>
                            <p class="blog-date">12 MAR, 2023 11:25 Am</p>
                            <a href="#" class="read-button">Read Article</a>

                        </div>
                    </div>
                    <div class="latest-posts-iteam">
                        <div>
                            <img height="100%" width="100%"
                                src="https://assets.thehansindia.com/h-upload/2022/11/12/1320210-happy-children-feature-1050x733.webp"
                                alt="blog thumb">


                        </div>

                        <div>
                            <p class="blog-title">Communication in kids</p>
                            <p class="blog-date">12 MAR, 2023 11:25 Am</p>
                            <a href="#" class="read-button">Read Article</a>

                        </div>
                    </div>
                    <div class="latest-posts-iteam">
                        <div>
                            <img height="100%" width="100%"
                                src="https://assets.thehansindia.com/h-upload/2022/11/12/1320210-happy-children-feature-1050x733.webp"
                                alt="blog thumb">


                        </div>

                        <div>
                            <p class="blog-title">Lorem ipsum dolor sit amet consectetur a</p>
                            <p class="blog-date">12 MAR, 2023 11:25 Am</p>
                            <a href="#" class="read-button">Read Article</a>

                        </div>
                    </div>
                    <div class="latest-posts-iteam">
                        <div>
                            <img height="100%" width="100%"
                                src="https://assets.thehansindia.com/h-upload/2022/11/12/1320210-happy-children-feature-1050x733.webp"
                                alt="blog thumb">


                        </div>

                        <div>
                            <p class="blog-title"> amet consectetur Lorem ipsum dolor sit a</p>
                            <p class="blog-date">12 MAR, 2023 11:25 Am</p>
                            <a href="#" class="read-button">Read Article</a>

                        </div>
                    </div>

                </div>
                <!-- <div class="flex flex-row justify-around latest-pop-par-tab m-4">
                    <button class="latest-post-button">
                        <p>Latest</p>
                    </button>
                    <button class="popular-post-button">
                        <p>Popular Posts</p>
                    </button>
                </div>
                <div class="latest-post-tab">
                    latest-post-tab
                </div>
                <div class="popular-post-tab">
                    popular-post-tab
                </div>
            </div> -->
            </div>

        </div>
    </div>
</div>
<script>
    // let latest_post_tab = document.querySelector(".latest-post-tab")
    // let popular_post_tab = document.querySelector(".popular-post-tab")
    // latest_post_tab.style.display = "block"
    // popular_post_tab.style.display = "none"
    // let latest_post_button = document.querySelector(".latest-post-button")
    // latest_post_button.addEventListener("click", () => {
    //     latest_post_tab.style.display = "block"
    //     popular_post_tab.style.display = "none"
    //     console.log("latest_post_button clicked")
    // })
    // let popular_post_button = document.querySelector(".popular-post-button")

    // popular_post_button.addEventListener("click", () => {
    //     latest_post_tab.style.display = "none"
    //     popular_post_tab.style.display = "block"
    //     console.log("popular-post-tab clicked")


    // })

</script>