<div class="container py-10 px-3 md:px-4 lg:px-4 single-blog-page mx-auto">
    <!-- {{ partial:blogs/blog_banner }} -->
    <!-- {{ article }}
        {{ partial src="sets/blog/{type}" }}
    {{ /article }} -->

    <div class="max-w-6xl mx-auto mt-8 overflow-hidden">
        <div class="container mx-auto blogs">
            <div class="grid grid-cols-10 gap-4 mt-16 md:mt-1 px-0 md:px-4">
                <div class="flex flex-col gap-0 md:gap-2 md:col-span-7 col-span-10">
                    <div class="art-int-section">
                        <div class="m-4">
                            <p class="mb-4 nest-cat-head">
                                {{title}}
                            </p>
                            {{ if image }}
                            <img
                                class="mt-8 mb-8 mb rounded-cstm"
                                height="100%"
                                width="100%"
                                src="{{image}}"
                                alt="details image"
                            />
                            {{ /if }}
                            {{ article }}
                                {{ partial src="sets/blog/{type}" }}
                            {{ /article }}
                            
                            {{ if tags }}
                                {{ partial:blogs/tags }}
                            {{ /if }}
                            {{ partial:blogs/post_details }}
                            {{ partial:blogs/social_media_sharing }}
                            <!-- <p class="mb-4 nest-cat-head detail-para-heading">
                                What is Lorem Ipsum?
                            </p>
                            <p class="mb-8 nest-cat-head detail-para">
                                Lorem Ipsum is simply dummy text of the printing and
                                typesetting industry. Lorem Ipsum has been the
                                industry's standard dummy text ever since the 1500s,
                                when an unknown printer took a galley of type and
                                scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap into
                                electronic typesetting, remaining essentially unchanged.
                                It was popularised in the 1960s with the release of
                                Letraset sheets containing Lorem Ipsum passages, and
                                more recently with desktop publishing software like
                                Aldus PageMaker including versions of Lorem Ipsum.
                            </p>
                            <p class="mb-4 nest-cat-head detail-para-heading">
                                What is Lorem Ipsum?
                            </p>
                            <p class="mb-8 nest-cat-head detail-para">
                                Contrary to popular belief, Lorem Ipsum is not simply
                                random text. It has roots in a piece of classical Latin
                                literature from 45 BC, making it over 2000 years old.
                                Richard McClintock, a Latin professor at Hampden-Sydney
                                College in Virginia, looked up one of the more obscure
                                Latin words, consectetur, from a Lorem Ipsum passage,
                                and going through the cites of the word in classical
                                literature, discovered the undoubtable source. Lorem
                                Ipsum comes from sections 1.10.32 and 1.10.33 of "de
                                Finibus Bonorum et Malorum" (The Extremes of Good and
                                Evil) by Cicero, written in 45 BC. This book is a
                                treatise on the theory of ethics, very popular during
                                the Renaissance. The first line of Lorem Ipsum, "Lorem
                                ipsum dolor sit amet..", comes from a line in section
                                1.10.32.
                            </p> -->
                        </div>
                    </div>
                </div>
                <div class="md:col-span-3 col-span-10">
                    <div class="latest-pop-par m-4">
                        <p class="lates-title mb-4">Categories</p>
                        <div class="grid grid-cols-1 gap-4 m-4">
                            {{ taxonomy from="categories"}}
                            {{if title !=''}} {{ partial:components.academic_blogs
                            has_link="true" link="{url}" description="{date}" }} {{/if}}
                            {{ /taxonomy }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full mx-auto my-8 catregory-section">
                <span class="other-cat-label">Similar Blogs</span>
                <div
                    class="grid grid-cols-1 md:grid-cols-1"
                    style="padding: 0px 16px; text-align: center"
                >
                    <div class="blogs p-4 mt-6">
                        <section class="customer-logos slider sim-blogs-slider" >
                            
                            {{ collection:posts url:isnt="{ url }" :taxonomy:tags="tags" }}
        
                            <div class="slide">
                                <div>
                                    <div class="latest-posts-iteam sim-blog-item" style="height:290px;">
                                        <div>
                                            <img height="100%" width="100%"
                                                src="{{image}}"
                                                alt="blog thumb" class="similar-slide-img">
                                        </div>
                                
                                        <div>
                                            <p class="blog-title">{{title}}</p>
                                            <p class="blog-date ml-auto">{{ date | timezone('Asia/Kolkata') |format('d M, Y') }}</p>
                                            <div class="flex justify-between">
                                                <p class="read-cat">{{ category:title }}</p>
                                                <a href="{{link}}" class="read-button">Read Article</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ /collection:posts }}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(".customer-logos").slick({
            slidesToShow: 3,
            slidesToScroll: 1,
            autoplay: false,
            autoplaySpeed: 1500,
            arrows: true,
            prevArrow: `<button class="slide-arrow blog-prev-arrow"><span class="material-symbols-outlined rounded-full p-0 border-solid blog-icon-color carouselArrow">
                            chevron_left</span></button>`,
            nextArrow: `<button class="slide-arrow blog-next-arrow"><span class="material-symbols-outlined rounded-full p-0 border-solid  blog-icon-color carouselArrow">
                            chevron_right</span></button>`,
            dots: false,
            pauseOnHover: false,
            responsive: [
                {
                    breakpoint: 786,
                    settings: {
                        slidesToShow: 2,
                    },
                },
                {
                    breakpoint: 640,
                    settings: {
                        slidesToShow: 1,
                    },
                },
                
            ],
        });
    });
</script>
