<!--{{ if custom_page_header }}
    {{ partial src="sets/headers/{header_version}" }}
{{ /if }} -->
<link rel="stylesheet" href="/css/custom.css" type="text/css">

{{ blocks }}
    {{if type != '' && version != ''}}
        {{ partial src="sets/{type}/{version}" }}
    {{else}}

    {{if type == 'navbar'}}
        {{ partial src="layout/_navigation" }}
    {{elseif type == 'footer_section'}}
        {{ partial src="layout/_footer" }}
    {{ else }}
        {{ partial src="sets/{type}" }}
        {{if type == "review_section"}}
            {{ collection:pages}}
                    {{ blocks }}
                        {{ if type == "customers" }} {{ partial src="sets/customers_small" }} {{ /if }}
                    {{ /blocks }}
            {{ /collection:pages}}
        {{/if}}
    {{ endif }}

    {{/if}}

{{ /blocks }}
<script>
const couriusbtn = document.querySelector(".about-btn").addEventListener("click", onLinkClick)
const couriusbtn1 = document.querySelector(".about-btn1").addEventListener("click", onLinkClick1)
function onLinkClick() {
    // console.log("fhfghhhghgfhgfhgfhfg")
  document.querySelector('.contactus-subtitle').scrollIntoView();
  // will scroll to 4th h3 element
}
function onLinkClick1() {
    // console.log("fhfghhhghgfhgfhgfhfg")
  document.querySelector('.contactus-subtitle').scrollIntoView();
  // will scroll to 4th h3 element
}
    $(document).ready(function () {

        $('.customer-logos-sm').slick({
            slidesToShow: 4,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 1500,
            arrows: true,
            prevArrow: '<button class="slide-arrow prev-arrow"><i class="fa fa-arrow-circle-left"></i></button>',
            nextArrow: '<button class="slide-arrow next-arrow"><i class="fa fa-arrow-circle-right"></i></button>',
            dots: false,
            pauseOnHover: false,
            responsive: [{
                breakpoint: 768,
                settings: {
                    slidesToShow: 4
                }
            }, {
                breakpoint: 520,
                settings: {
                    slidesToShow: 3
                }
            }]
        });
    });

</script>